body {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}

body,
* {
  user-select: none;
}

header {
  font-weight: bold;
  font-size: clamp(18px, 3vw, 28px);
  color: white;
  width: 100%;
  line-height: clamp(40px, 6vh, 60px);
  text-align: center;
  display: flex;
  justify-content: space-between;
}

header #next {
  padding-right: 5vw;
}

header #prev {
  padding-left: 5vw;
}

header,
footer {
  background-color: hsl(200, 30%, 40%);
}

article {
  position: relative;
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  line-height: clamp(40px, 6vh, 60px);
  font-size: clamp(18px, 4vw, 26px);
  color: white;
  padding: 0 10vw;
}

footer #change {
  color: #AAA;
  font-size: clamp(13px, 3vw, 18px);
}

#submain {
  padding: 0 4vw 2vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}

#submain #explainbox {
  flex-grow: 1;
}

#start {
  text-align: center;
  font-size: clamp(18px, 3vw, 28px);
  margin-top: 2vw;
  margin-bottom: 4vw;
}
#start span {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #888;
}

#submain #buttongroup {
  padding: 0 5vw 3vh;
}

#submain #countbox {
  color: #888;
  padding-top: 4vw;
  font-size: clamp(13px, 3vw, 18px);
  text-align: right;
}

#submain #countbox #count {
  color: #228;
}

#submain .ot,
#submain .at,
#submain .pt {
  color: #AAA;
  font-size: clamp(13px, 3vw, 18px);
  margin-top: 4vw;
  margin-bottom: 1vw;
}

#submain .ot {
  margin-top: 2vw;
}

#submain .ob {
  font-size: clamp(16px, 4vw, 22px);
  line-height: 1.5;
}

#submain .pb {
  font-size: clamp(18px, 4.5vw, 25px);
  line-height: 1.5;
}

#submain .ab {
  font-size: clamp(20px, 5vw, 28px);
  line-height: 1.5;
}

#submain .ob,
#submain .pb,
#submain .ab {
  color: #000040;
}

#help {
  display: none;
  font-size: clamp(16px, 4vw, 22px);
  padding: 4vw 2vw 0;
}

#help .title {
  padding-top: 4vw;
  font-weight: bold;
}

#help a {
  text-decoration: none;
}

#help a,
#help a:visited {
  color: blue;
}

#help li {
  padding-bottom: 3vw;
}

#help .small {
  font-size: clamp(12px, 3vw, 17px);
}

#help .h1 {
  font-weight: bold;
  text-align: center;
  font-size: clamp(20px, 5vw, 30px);
  padding-top: 4vw;
  padding-bottom: 3vw;
}

#main {
  font-size: clamp(16px, 4vw, 22px);
  line-height: 1.6;
  font-family: serif;
}

#main .title {
  color: #004000;
  text-align: center;
  font-weight: bold;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

#main .body {
  padding: 0 2vw;
  text-align: center;
  color: #000040;
}